bleach==6.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
et-xmlfile==1.1.0
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
kaggle==1.5.16
lightgbm @ file:///E:/360download/lightgbm-3.3.5-py3-none-win_amd64.whl
lxml==4.9.3
MarkupSafe==2.1.2
numpy==1.24.3
openpyxl==3.1.2
Pillow==9.5.0
prettytable==3.7.0
py4j==0.10.9.5
pyecharts==2.0.3
PyMySQL==1.0.2
pyspark==3.3.2
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.22
python-slugify==8.0.1
PyYAML==6.0.1
rarfile==4.0
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
simplejson==3.19.1
six==1.16.0
text-unidecode==1.3
threadpoolctl==3.1.0
tqdm==4.65.0
unrar==0.4
urllib3==2.0.4
wcwidth==0.2.6
webencodings==0.5.1
xgboost @ file:///E:/360download/xgboost-1.6.1-cp310-cp310-win_amd64.whl
XlsxWriter==3.1.2
